# Core
Django==4.2.7
Pillow==10.1.0

# Database
psycopg2-binary==2.9.9

# Environment variables
python-decouple==3.8

# Authentication
django-allauth==0.57.0

# Forms
django-crispy-forms==2.1
crispy-bootstrap5==0.7

# Storage (for media/image uploads in production)
django-storages==1.14.2
boto3==1.29.7

# Payment
requests==2.31.0

# Utilities
django-extensions==3.2.3
whitenoise==6.6.0

# Development only
django-debug-toolbar==4.2.0
